
<div class="dashboard-container animate__animated animate__faster p-0 w-full min-h-full" [ngClass]="transition">
  <div class="nav">
    <nav class="dashheader">
      <div class="header-container max-w-3xl mx-auto px-4">
	<div class="flex flex-row items-center justify-between">

	  <div class="relative pt-2">
	
	    <a href="/dashboard/" class="">      
	      <app-logo svgStyle="fill-white size-28" labelStyle="text-white tracking-wide font-bold text-xs uppercase"></app-logo>
	    </a>
	    <app-badge label="member"></app-badge>
	  </div>
	  
	  
	  <div class="pt-2">
	    <button class="button-logout" (click)="handleLogout()">Logout </button>
	  </div>
	</div>
      </div>
    </nav>
  </div>

  <div class="dashboard-boady-container">
    
    <div class="dashboard-subnav">
      <div class="flex flex-row px-8 max-w-3xl mx-auto">
	<a class="child-nav" href="/dashboard/profile#profile">Profile</a>
	<a class="child-nav" href="/dashboard/profile#publicstudy">Public Study</a>
	<a class="child-nav" href="/dashboard/profile#sharedstudy">Shared Study</a>
      </div>
    </div>
    
    
    <div class="main-content max-w-3xl mx-auto px-4 flex flex-col">
      <div class="mt-8">
	<h2 class="text-3xl text-purple-900 font-thin">Update profile</h2>
      </div>
      
      <div class="mt-2">

	<h3 class="text-xs text-gray-700 font-bold tracking-wider mb-2 uppercase">Profile</h3>

	
	<form class="" [formGroup]="updateForm" (ngSubmit)="handleUpdateProfile($event)">
	  <div class="input-group mb-4">
	    <label for="first_name">
	      First Name <sup class="text-red-900" title="required">*</sup>
	    </label>
	    <input type="text" name="first_name" id="first_name" value="" class="required" autocapitalize="off" autofocus="autofocus" placeholder="First name" required="true" aria-required="true" formControlName="first_name">
	  </div>

	  <div class="input-group mb-4">
	    <label for="last_name">
	      Last Name
	    </label>
	    <input type="text" name="last_name" id="last_name" value="" placeholder="Last Name" autocapitalize="off" formControlName="last_name">
	  </div>

	  <div class="input-group mb-4">
	    <label for="email"> Email address <sup class="text-red-900" title="Required">*</sup></label>
	    <input type="email" name="email" id="email" value="" class="required" autocapitalize="off" placeholder="Email address" aria-required="true" formControlName="email">
	  </div>

	  <div class="input-group mb-4">
	    <label for="phone"> Phone Number <sup class="text-red-900" title="Required">*</sup> </label>
	    <input type="number" name="phone" id="phone" value="" placeholder="Phone Number" formControlName="phone">
	  </div>


	  <div class="mt-4 mb-2"> 
	    <app-button label="Update Profile" type="button-login-primary" moreClass="uppercase font-extrabold tracking-wider override-fs-size" (buttonClick)="handleUpdateProfile($event)"></app-button>    
	  </div>
	</form>

	  <div class="mt-4">
	    <hr class="inset-hr">
	  </div>	  

	  <h3 class="text-xs text-gray-700 font-bold tracking-wider uppercase">Auth</h3>
	  
	  <form class="" [formGroup]="authForm" (ngSubmit)="handleUpdateAuth($event)">   
	     <div class="input-group mb-4">
	       <label for="password"> Password </label>
	       <input type="password" name="password" id="password" value="" placeholder="Password" required="true" aria-required="true" formControlName="password">
	     </div>
	     <div class="input-group mb-4">
	       <label for="confirm_password"> Confirm Password </label>
	       <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Password" required="true" aria-required="true" formControlName="confirm_password">
	     </div>
	     
	     <div class="mt-4 mb-2">
	       <app-button label="Update Password" type="button-login-primary" moreClass="uppercase font-extrabold tracking-wider override-fs-size" (buttonClick)="handleUpdateAuth($event)"></app-button>    
	     </div>	  
	  </form>
	  
	  <div class="mt-4">
	    <hr class="inset-hr">
	  </div>
	  
	  <h3 class="text-xs text-gray-700 font-bold tracking-wider uppercase">Profile Avatar</h3>
	  	  
	  <form [formGroup]="picForm" (ngSubmit)="handleUpdatePic($event)">
	    <div class="input-group mb-4">
	      <label for="pic"> picture </label>  
	      <input type="file" name="pic" id="pic" value="" placeholder="" formControlName="pic_url">
	    </div>
	    
	    <div class="input-group mb-4">
	      <img src="" #profilePic width=64 height=64>
	    </div>
	    
	    <app-button label="Update Profile Picture" type="button-login-primary" moreClass="uppercase font-extrabold tracking-wider override-fs-size" (buttonClick)="handleUpdatePic($event)"></app-button>
	   
	  </form>

	  	  
	  <div class="mt-4 mb-24">
	    <hr class="inset-hr">
	  </div>

      </div>
      
      
    </div>
    
    
  <div class="modal-overlay"></div>
  <div class="loading-indicator"></div>

</div>
