<div class="full-page bg-white animate__animated animate__fast" [ngClass]="transition">
  
  <div class="w-100 z-30 fixed top-0 mt-5 w-full">
    <div class="max-w-2xl mx-auto flex justify-between">
      
      <div class="">
	
	<a href="/">
	  <app-logo></app-logo>  
	</a>
      </div>

      <div class="flex">
	

	<div class="ml-4">
	  <app-button label="signup" type="button-second" (buttonClick)="handleButtonSignup()"></app-button>  
	</div>

	<div class="ml-4">
	  <app-button label="login" type="button-primary" (buttonClick)="handleButtonLogin()"></app-button>
	</div>
	


      </div>

      
    </div>   
  </div>
  
  <div class="section pt-24 z-10 pattern-dots-sm red">  
  </div>
  
  <div class="fact-intro z-20">
    
    <div class="block z-20 w-full relative text-center leading-relaxed mx-4">
      
      <div class="bg-white text-center max-w-lg text-gray-800 border border-transparent rounded p-4 shadow-outer-2 mx-auto">Study group is online collaborating web app,  members can create a study publicly or privately.	
      </div>
      
      <div class=" text-gray-700 text-sm mt-10 leading-normal text-center max-w-sm mx-auto">
	Welcome to Koco Study Group, to continue using this web app please login using your previous credentials or signup if you are not already registered;
      </div>
      

      <div class="max-w-2xl mx-auto pt-24 relative text-left">
	
      </div>
      	
    </div>


</div>

    
    
</div>

  
