<div class="dashboard-container animate__animated animate__faster p-0 w-full min-h-full" [ngClass]="transition">
  <div class="nav">
    <nav class="dashheader">
      <div class="header-container max-w-3xl mx-auto px-4">
	<div class="flex flex-row items-center justify-between">

	  <div class="relative pt-2">
	    <a href="/dashboard" class="">
	      <app-logo svgStyle="fill-white size-28" labelStyle="text-white tracking-wide font-bold text-xs uppercase"></app-logo>
	    </a>
	    <app-badge label="admin"></app-badge>
	  </div>
	  
	  
	  <div class="pt-2">
	    <button class="button-logout" (click)="handleLogout()">Logout </button>
	  </div>
	</div>
      </div>
    </nav>
  </div>

  <div class="dashboard-boady-container">
    <div class="dashboard-subnav">
      <div class="flex flex-row px-8 max-w-3xl mx-auto">
	<a class="child-nav" href="/dashboard/users">Users</a>
	<a class="child-nav" href="/dashboard/study">Study</a>
      </div>
    </div>
    
    
    <div class="main-content max-w-3xl mx-auto px-4">

      <div class="header-label my-4 flex items-center justify-between">
	<div class="mr-4 flex items-center">
	  <h5 class="font-bold mr-2 text-normal">User Lists</h5>  
	  <p class="text-xs text-gray-700">(Displaying <strong>1- 15</strong>) of 30 Users</p> 
	</div>
	<div class="filter">
	  <label class="text-gray-600 text-xs mr-2" for="sort">Sort User By: </label>
	  <select name="sort" id="sort" class="filter-input">
	    <option value="newest">Newest</option>
	    <option value="name">Name</option>  
	  </select>	   
	</div>
      </div>

      <div class="mb-4">
	<app-button label="Add Users" type="button-second" (buttonClick)="routeToAdd($event)"></app-button>
      </div>
      
      <div class="content-lists flex flex-row w-full mx-auto my-0 cards flex-wrap">

	<table *ngIf="users | async" class="table">
	  <thead>
	    <tr>
	      <th class="p-8"> Full Name </th>
	      <th class="p-8"> Email </th>
	      <th class="p-8"> phone </th>
	      <th class="p-8"> status </th>
	      <th class="p-8"> action </th>
	    </tr>
	  </thead>
	  <tr *ngFor="let user of users | async">
	    <td class="p-8">{{user.first_name+user.last_name}}</td>
	    <td class="p-8">{{user.email}}</td>
	    <td class="p-8">{{user.phone}}</td>
	    <td class="p-8">{{user.status}}</td>
	    <td class="p-8">
	      <div class="flex">
		<button (click)="deleteUser(user.email)">Delete</button>
		<button (click)="updateUser(user.email)">Edit</button>
	      </div>
	      
	    </td>
	  </tr>
	  		 
	</table>
	
      </div>
      
    </div>
    
    
  <div class="modal-overlay"></div>
  <div class="loading-indicator"></div>

</div>
 
