<div class="default-container animate__animated animate__fast animate__fadeIn min-h-full h-full overflow-hidden bg-gradient-purple-s p-0 w-full flex flex-col items-center justify-center">
  <div class="empty-space"></div>
  <div class="center-message text-white text-center flex flex-col items-center pt-0 self-center">
    Ops not found 404. <a class="underline" href="/"> Go Back</a>
  </div>
  
  <div class="bottom-0 left-0 fixed ml-6 mb-6">
    <a href="/">
      <app-logo svgStyle="fill-white size-28" labelStyle="text-white font-bold text-sm"></app-logo>
    </a>
    
    
  </div>
</div>

